body {
    background-color: #11010f;
    color: lavender;
    font-family: sans-serif;
    margin: 0;
}


nav a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #22021f;
    margin: 0;
    color: inherit;
    text-decoration: none;
}
nav a:hover {
    color: rgba(230, 230, 250, 0.9)
}
nav img {
    width: 3rem;
}

.delete-btn {
    background: darkred;
    color: lavender;
    border-radius: 5px;
    padding: 1ch;
    border-width: 0;
}
.delete-btn:hover {
    cursor: pointer;
    background-color: rgba(139, 0, 0, 0.767);
}

#list {
    padding: 3rem;
}

li {
    margin: 10px;
    align-items: center;
}
li::marker:not(:first-of-type) {
    display: none;
}
li div.items { /*put the delete button at the end*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li div.items p {
    flex: 1;
    white-space: pre-wrap;
    margin: 1rem;
}
li div.items:hover {
    cursor: pointer;
    background-color: #170014;
}
li input[type="text"] {
    background-color: #170014;
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% - 1.5rem);
    outline: none;
    border: none;
    color: white;
}
li input[type="text"]:focus, li input[type="text"]:active {
    background-color: #260121;
}