body {
  background-color: rgb(17, 1, 15);
  color: lavender;
  font-family: sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
}

code {
  background-color: rgb(64, 18, 58);
  padding: 5px;
  border-radius: 3px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "computer score user"
    "log log log";
}

.log-card {
  border-radius: 5px;
  padding: 1rem;
  margin-right: 10px;
  min-width: 15rem;
  min-height: 10rem;
  gap: 5px;
  background-color: rgb(36, 32, 41);;
}
.log-card p:first-of-type {
  text-align: right;
}
.log-card * {
  margin: 0;
  padding: 0;
}
.log-card-breakdown {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.user-weapon,
.computer-weapon,
.choice {
  /* border: 2px solid rgba(230, 230, 250, 0.604); */
  background-color: #1f101f;
  /* -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 60, 0, 0.613), 0px 0px 6px 6px rgba(255, 60, 0, 0.418), 0px 0px 10px 10px rgba(255, 60, 0, 0.418);
  -moz-box-shadow: 0px 0px 3px 3px rgba(255, 60, 0, 0.613), 0px 0px 6px 6px rgba(255, 60, 0, 0.418), 0px 0px 10px 10px rgba(255, 60, 0, 0.418);
  box-shadow: 0px 0px 3px 3px rgba(255, 60, 0, 0.613), 0px 0px 6px 6px rgba(255, 60, 0, 0.418), 0px 0px 10px 10px rgba(255, 60, 0, 0.418); */
  border-radius: 5px;
  padding: 1rem;
  font-size: 65px;
  width: 9rem;
  margin-bottom: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choice {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-weapon:hover:not(.chosen-one) {
  cursor: pointer;
  background-color: rgba(160, 27, 0, 0.76);
}
.user-weapon:active {
  background-color: rgba(160, 27, 0, 0.5);
}
.user-weapon span,
.computer-weapon span {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  text-align: right;
  width: 100%;
}

.chosen-one {
  background-color: rgba(160, 27, 0, 0.5);
}

.container {
  padding: 0 2rem 0 2rem;
}

#battle,
.info-btn {
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 25px;
  background-color: rgba(230, 230, 250, 0.8);
  color: rgb(17, 1, 15);
}

#battle:hover:not(:disabled),
.info-btn:hover {
  cursor: pointer;
  background-color: rgba(230, 230, 250, 0.9);
}
#battle:active:not(:disabled) {
  background-color: rgba(230, 230, 250, 1);
}
#battle:disabled,
.disabledChoice {
  background-color: rgba(230, 230, 250, 0.3);
  pointer-events: none;
}

#heading {
  grid-area: heading;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#scoreContainer > div {
  display: flex;
  grid-gap: 1rem;
  flex-direction: row;
  align-items: center;
}

#scoreContainer {
  grid-area: score;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#userWeaponsContainer {
  grid-area: user;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

#computerWeaponsContainer {
  grid-area: computer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#log {
  grid-area: log;
}

#log-cards {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgba(230, 230, 250, 0.361); */
  background-color: rgb(19, 14, 25);
  border-radius: 5px;
  padding: 1rem;
  min-height: 12rem;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100vw - 7rem);
  white-space: nowrap;
}
#log-cards .log-card:first-of-type {
  background-color: rgb(13, 1, 25);
  border-color: rgb(27, 7, 48);
}

.log-card-column {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-container {
  z-index: 1;
  background-color: rgba(17, 1, 15, 0.473);
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(17, 1, 15);
  padding: 1rem;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  border: 1px solid lavender;
  color: lavender;
}
.hidden {
  display: none;
}

.info-btn-box {
  padding: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
}
.info-btn-box h1 {
  align-self: center;
  flex: 1;
  margin: 0;
}
.info-btn-box button {
  flex: 0;
  height: 100%;
}
